name: CI

on:
  push:
    branches: [main]
    paths:
      - '**/*'
      - '!**/.changeset/*.md'
      - '!**/CHANGELOG.md'
      - '!**/package.json'
  pull_request:
    branches: [main]
    types: [opened, synchronize]

concurrency:
  group: ci-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [20.x]
    runs-on: ${{ matrix.os }}
    env:
      NX_KEY: ${{ vars.NX_KEY }}
      NX_SKIP_NX_CACHE: ${{ vars.NX_SKIP_NX_CACHE }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          path: .nx
          key: nx-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            nx-${{ runner.os }}-

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - uses: nrwl/nx-set-shas@v4
      # This line is needed for nx affected to work when CI is running on a PR
      - name: Fetch NX base
        run: |
          git fetch --all

      - name: Install deps
        run: |
          pnpm i --frozen-lockfile
          pnpm playwright install chromium --with-deps

      - if: ${{ matrix.os == 'ubuntu-latest' }}
        name: Replace with tarball
        run: |
          pnpm --filter "./packages/*" exec pnpm pack
          tmp=$(mktemp)

          find packages -name 'package.json' | while read file
          do
            name=$(cat $file | jq --raw-output .name)
            version=$(cat $file | jq --raw-output .version)
            path="$(pwd)/$(echo $file | sed -E 's/package.json$//g')$(echo $name | sed -E 's/@//g' | sed -E 's/\//-/g')-$version.tgz"
            echo "$(cat package.json | jq ".pnpm.overrides[\"$name\"] = \"$path\"")" > "$tmp"
            mv "$tmp" package.json
          done

          echo "$(cat package.json | jq ".pnpm.peerDependencyRules.ignoreMissing = [\"*\"]")" > "$tmp" && mv "$tmp" package.json
          pnpm i --no-frozen-lockfile

      - if: ${{ github.event_name == 'pull_request' }}
        name: On pull request
        run: pnpm nx affected -t build,lint:type,test

      - if: ${{ github.event_name == 'push' }}
        name: On push
        run: pnpm nx run-many -t build,lint:type,test
